@media only screen and (max-width: 740px) {
  .section-1 {
    .sign-up,
    .emails {
      width: 100%;
      margin: 0;
      margin-top: 10px;
    }
  }
  .section-2 {
    flex-direction: column;
    height: auto;
    padding: 40px 0 40px 0;
  }
  .section-3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
    img {
      order: -1;
      max-width: 100%;
      max-height: auto;
      object-fit: contain;
      // .section-3 .img {
      //   max-width: 375px;
      //   overflow: hidden;
      // }
      // max-width: 100%; /* Maybe optional. See note below */
      // transform: scale(1);
      .text {
        display: flex;
        justify-content: left;
        align-items: center;
        height: 50%;
        margin: 0;
      }
      .title {
        max-width: 100px;
      }
      .secondary {
        max-width: 150px;
      }
    }
  }
  .section-4 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
    img {
      order: -1;
      max-width: 100%;
      height: auto;
      object-fit: contain;
      .text {
        display: flex;
        justify-content: left;
        align-items: center;
        height: 50%;
        margin: 0;
      }
      .title {
        max-width: 100px;
      }
      .secondary {
        max-width: 150px;
      }
    }
  }
  .section-5 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;

    img {
      order: -1;
      max-width: 100%;
      height: auto;
      object-fit: contain;
      .text {
        display: flex;
        justify-content: left;
        align-items: center;
        height: 50%;
        margin: 0;
      }
      .title {
        max-width: 100px;
      }
      .secondary {
        max-width: 150px;
      }
    }
  }
  .section-6 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    .testimonials {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }
  .section-7 {
    .sign-up,
    .emails {
      width: 100%;
      padding: 0;
      margin: 0;
      margin-top: 10px;
    }
  }
  footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 100px;
    .first {
      text-align: center;
    }
    .second {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 20px;
      background-color: #f8f9fa;
    }
  }
}
