@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: lato;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
  height: 40px;
  background-color: white;
  font-size: 1em;
  .sign-in {
    cursor: pointer;
    justify-content: center;
    max-width: 70px;
    border: 7px solid #007bff;
    border-radius: 3px;
    background-color: #007bff;
    color: white;
    font-size: 1em;
  }
}
.section-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url("/app/images/bg-masthead.jpg");
  background-position: center center;
  background-size: cover;
  padding: 50px;
  max-width: 100%;
  height: 500px;
  color: white;
  .landing-text {
    font-weight: bold;
    font-size: 2em;
    text-align: center;
  }
  .forms {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .emails {
    justify-content: left;
    width: 300px;
    border: 7px solid #fff;
    border-radius: 3px;
    background-color: #fff;
    color: #898c8d;
  }
  .sign-up {
    cursor: pointer;
    width: 100px;
    border: 7px solid #007bff;
    border-radius: 3px;
    background-color: #007bff;
    height: 30px;
    color: white;
    font-size: 0.9em;
    margin-left: 10px;
    transition: 0.5s;
    &:hover {
      background-color: #fff;
      color: #057eff;
      border: 3px solid #057eff;
      border-radius: 3px;
    }
  }
}

.section-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: #f8f9fa;
  padding: 0 10px 0 10px;
  width: 100%;
  height: 250px;
  color: black;
  .material-icons-outlined {
    color: #057eff;
    font-size: 3em;
  }
  .title {
    font-size: 1.5em;
    font-weight: bold;
  }
  .secondary {
    font-size: 0.9em;
    color: grey;
    padding-top: 5px;
    max-width: 320px;
  }
  .column-1,
  .column-2,
  .column-3 {
    margin: 3px;
  }
}
.section-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center center;
  background-size: cover;
  flex-direction: row;
  max-width: 100%;
  img {
    max-width: 50%;
    max-height: auto;
    background-position: center center;
    background-size: cover;
  }
  .text {
    justify-content: center;
    text-align: left;
    flex-wrap: wrap;
    padding: 20px;
    max-width: 50%;
  }
  .title {
    font-size: 1.5em;
    font-weight: bold;
  }
  .secondary {
    font-size: 1em;
    color: grey;
    margin-top: 10px;
  }
}
.section-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center center;
  background-size: cover;
  flex-direction: row;
  max-width: 100%;
  img {
    max-width: 50%;
    max-height: auto;
    background-position: center center;
    background-size: cover;
  }
  .text {
    max-width: 100%;
    padding: 20px;
    max-width: 50%;
  }
  .title {
    font-size: 1.5em;
    font-weight: bold;
  }
  .secondary {
    font-size: 1em;
    color: grey;
    margin-top: 10px;
  }
}
.section-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center center;
  background-size: cover;
  flex-direction: row;
  max-width: 100%;
  img {
    max-width: 50%;
    max-height: auto;
    background-position: center center;
    background-size: cover;
  }
  .text {
    max-width: 100%;
    padding: 20px;
    max-width: 50%;
  }
  .title {
    font-size: 1.5em;
    font-weight: bold;
  }
  .secondary {
    font-size: 1em;
    color: grey;
    margin-top: 10px;
  }
}
.section-6 {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-color: #f8f9fa;
  .main-text {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 1.5em;
    font-weight: bold;
    padding: 40px 0 10px 0;
  }
  .testimonials {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
  }
  img {
    border-radius: 100%;
    width: 100px;
  }
  .title {
    font-size: 1.3em;
    font-weight: bold;
  }
  .secondary {
    font-size: 0.7em;
    color: grey;
    padding: 5px;
    max-width: 200px;
  }
  .box-1,
  .box-2,
  .box-3 {
    margin: 5px;
  }
}

.section-7 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-position: center center;
  background-size: cover;
  padding: 50px;
  max-width: 100%;
  height: 250px;
  background-image: url("/app/images/bg-masthead.jpg");
  color: white;

  .landing-text {
    font-weight: bold;
    font-size: 2em;
    text-align: center;
  }
  .forms {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .emails {
    justify-content: left;
    width: 400px;
    border: 7px solid #fff;
    border-radius: 3px;
    background-color: #fff;
    color: #898c8d;
  }
  .sign-up {
    cursor: pointer;
    width: 100px;
    border: 7px solid #007bff;
    border-radius: 3px;
    background-color: #007bff;
    height: 30px;
    color: white;
    font-size: 0.9em;
    margin-left: 10px;
    transition: 0.5s;
    &:hover {
      background-color: #fff;
      color: #057eff;
      border: 3px solid #057eff;
      border-radius: 3px;
    }
  }
  // -webkit-background-size: cover;
  // // -moz-background-size: cover;
  // -o-background-size: cover;
}
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
  height: 120px;
  background-color: #f8f9fa;

  .first a {
    cursor: pointer;
    color: #007bff;
  }
  .first .copyright {
    font-size: 0.8em;
    margin-top: 20px;
    color: grey;
  }
  .dot {
    height: 4px;
    width: 4px;
    background-color: #007bff;
    border-radius: 100%;
    margin: 0 10px 3px 10px;
    display: inline-block;
  }

  .second {
    display: flex;
    flex-direction: row;
    .gg-facebook {
      cursor: pointer;
      margin-right: 10px;
      color: #057eff;
    }
    .gg-instagram {
      cursor: pointer;
      margin-right: 10px;
      color: #057eff;
    }
    .gg-twitter {
      cursor: pointer;
      margin-right: 10px;
      color: #057eff;
    }
  }
}
@media only screen and (max-width: 740px) {
  .section-1 {
    .sign-up,
    .emails {
      width: 100%;
      margin: 0;
      margin-top: 10px;
    }
  }
  .section-2 {
    flex-direction: column;
    height: auto;
    padding: 40px 0 40px 0;
  }
  .section-3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
    img {
      order: -1;
      max-width: 100%;
      max-height: auto;
      .text {
        display: flex;
        justify-content: left;
        align-items: center;
        height: 50%;
        margin: 0;
      }
      .title {
        max-width: 100px;
      }
      .secondary {
        max-width: 150px;
      }
    }
  }
  .section-4 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
    img {
      order: -1;
      max-width: 100%;
      height: 50%;
      .text {
        display: flex;
        justify-content: left;
        align-items: center;
        height: 50%;
        margin: 0;
      }
      .title {
        max-width: 100px;
      }
      .secondary {
        max-width: 150px;
      }
    }
  }
  .section-5 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
    img {
      order: -1;
      max-width: 100%;
      height: 50%;
      .text {
        display: flex;
        justify-content: left;
        align-items: center;
        height: 50%;
        margin: 0;
      }
      .title {
        max-width: 100px;
      }
      .secondary {
        max-width: 150px;
      }
    }
  }
  .section-6 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    .testimonials {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }
  .section-7 {
    .sign-up,
    .emails {
      width: 100%;
      padding: 0;
      margin: 0;
      margin-top: 10px;
    }
  }
  footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 100px;
    .first {
      text-align: center;
    }
    .second {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 20px;
      background-color: #f8f9fa;
    }
  }
}
